.converter_wrapper {
    background-color: $background;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    color: $white;

    .conveter_form {
        width: 550px;
        height: 350px;
        border-radius: 8px;
        background-color: $foreground;
        box-shadow: 1px 2px 10px $foreground;
        padding: 40px 55px;

        .converter_heading {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 15px;
            font-size: 20px;
        }

        .wallet_wrapper {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .wallet_info {
                p {
                    margin: 0;
                }
            }

            .wallet_info {
                display: flex;
                align-items: center;
                .activeIcon {
                    margin-right: 5px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: green;
                }
                .inactiveicon {
                    margin-right: 5px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: red;
                }
            }
        }
    }
}
